# ==============================
# Node / React
# ==============================
node_modules/
build/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==============================
# Java / Spring Boot
# ==============================
target/
*.class
*.log

# ==============================
# Uploads & database
# ==============================
uploads/
*.dump
*.db
*.h2.db

# ==============================
# IDE settings
# ==============================
.idea/
.vscode/
*.ipr
*.iws

# ==============================
# OS junk
# ==============================
.DS_Store
Thumbs.db


# Eclipse / IDE garbage
.classpath
.factorypath
.project
.settings/

# Database dumps
*.sql
*.dump


